<div class="cadastro-form">
  <div class="cadastro-form__container">
    <div class="cadastro-form__card">
      <h2 class="cadastro-form__title">{{ formConfig.title }}</h2>

      <p class="cadastro-form__description">
        {{ formConfig.description }}
      </p>

      <form [formGroup]="dadosPessoaisForm" (ngSubmit)="onProximo()">


        <ng-container *ngFor="let field of formConfig.fields">
          <ng-container *ngIf="isFieldType(field, 'text') || isFieldType(field, 'email')">
            <div class="cadastro-form__field" [ngClass]="{'cadastro-form__field--half': field.
              width === 'half'}">
              <label [for]="field.formControlName"
                class="cadastro-form__label">{{ field.label }}</label>
              <input 
                  [id]="field.formControlName" 
                  [type]="field.type" 
                  class="cadastro-form__input"
                  [formControlName]="field.formControlName"
                  [placeholder]="field.placeholder || '' ">
              <div *ngIf="dadosPessoaisForm.get(field.formControlName)?.invalid &&
                dadosPessoaisForm.get(field.formControlName)?.touched"
                class="cadastro-form__error">
                  <ng-container *ngFor="let error of field.errorMessages | keyvalue">
                      <span *ngIf="dadosPessoaisForm.get(field.formControlName)?.errors?.[error.key]">
                        {{ error.value }}
                      </span>
                  </ng-container>
              </div>
            </div>
          </ng-container>
        </ng-container>
    
       <div class="cadastro-form__actions">
          <app-button
            text="Anterior"
            type="outline"
            icon="fas fa-arrow-left"
            iconPosition="left"
            (clicked)="onAnterior()">
          </app-button>

          <app-button
            text="Próximo"
            type="primary"
            icon="fas fa-arrow-right"
            iconPosition="right"
            [disabled]="dadosPessoaisForm.invalid"
            (clicked)="onProximo()">
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>
